@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Kanit:wght@200;400&family=Prompt:wght@600&family=Ubuntu:ital,wght@0,300;0,700;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap');

QWidget {
    background: #3c3c3c;
    font-family: 'Calibri';
    border-radius: 8px;
    color: #e8e8e8;
}

QMainWindow {
    background: #3c3c3c;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px 15px 15px 15px;
    border: 1px solid #282828;
    border-radius: 8px;
    color: #e8e8e8;
}

QPushButton {
    background: #3c3c3c;
    font-size: 15px;
    font-family: "Ubuntu";
    font-weight: 400;
    color: #e8e8e8;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
}

QAction {
    background: #3c3c3c;
    font-size: 15px;
    font-family: "Ubuntu";
    font-weight: 400;
    color: #e8e8e8;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
}

QLabel {
    background: transparent;
    font-family: 'Ubuntu';
    font-size: 14px;
    color: #e8e8e8;
    padding: 5px 5px 5px 5px;
    border: 1px solid #282828;
}

QLineEdit {
    background: #3c3c3c;
    font-family: "Ubuntu";
    font-size: 14px;
    color: #e8e8e8;
    padding: 5px 5px 5px 5px;
    border: 1px solid #282828;
    border-radius: 8px;
}
