@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Kanit:wght@200;400&family=Prompt:wght@600&family=Ubuntu:ital,wght@0,300;0,700;1,300;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap');

QWidget {
    background: #e8e8e8;
    font-family: 'Calibri';
    color: #000000;
    border-radius: 8px;
}

QMainWindow {
    background: #e8e8e8;
    border-bottom: 2px solid #aeaeae;
    border-top: 2px solid #aeaeae;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid #aeaeae;
    border-radius: 8px;
}

QPushButton {
    background: #e8e8e8;
    font-size: 15px;
    font-family: "Ubuntu";
    font-weight: 400;
    color: #000000;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
}

QAction {
    background: #e8e8e8;
    font-size: 15px;
    font-family: "Ubuntu";
    font-weight: 400;
    color: #000000;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
}

QLabel {
    background: transparent;
    font-family: 'Ubuntu';
    font-size: 14px;
    color: #000000;
    padding: 5px 5px 5px 5px;
    border: 1px solid #aeaeae;
}

QLineEdit {
    background: #e8e8e8;
    font-family: "Ubuntu";
    font-size: 14px;
    color: #000000;
    padding: 5px 5px 5px 5px;
    border: 1px solid #aeaeae;
    border-radius: 8px;
}
